/* searchable table */

.searchableTable {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
}

.searchField {
  width: 300px;
}

.tableHeader {
  padding: 4px;
  margin: 0;
  border-bottom: 1px solid #dadada;
}

#wozSelectorGroupId {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.wozSelectorDropdown {
  width: 300px;
  margin-right: 8px;
}

.scrollable {
  position: relative;
  height: 100%;
  flex-grow: 1;
}

.scrollable > div {
  overflow-y: scroll;
  position: absolute;
  width: 100%;
  height: 100%;
}

/* WoZ */

.statusMessage {
  text-align: center;
  width: 500px;
  margin: 32px auto;
  font-size: 24px;
  color: #aaaaaa;
}

