.App {
  height: 100%;
  width: 100%;
  position: absolute;
}

.configEditor {
  height: 100%;
  display: flex;
  overflow-y: auto;
  flex-direction: column;
}

.configEditorContainer {
  flex: 1 0 auto;
  display: flex;
  flex-direction: row;
}

.configEditorCopyright {
  color: #999999;
  margin: auto auto 1rem;
}

.documentationLink {
  text-align: center;
  margin: 1rem;
  color: #3838ff;
}

.connectorEditorSegment#connectorEditorSegment {
  min-height: 370px;
}

.connectorEditorTab {
  position: absolute;
  width: 90%;
}

/* the form for the internal editor */
.connectorEditorSubContainer {
  min-width: 90%;
}

/* the segment in the form for the internal editor */
.connectorEditorSubSegment {
  min-width: 100%;
}

.firebaseInputField {
  min-width: 20rem;
}