.App {
  height: 100%;
  width: 100%;
  position: absolute;
}

.connectorEditorSegment#connectorEditorSegment {
  min-height: 370px;
}

.connectorEditorTab {
  position: absolute;
  width: 90%;
}

/* the form for the internal editor */
.connectorEditorSubContainer {
  min-width: 90%;
}

/* the segment in the form for the internal editor */
.connectorEditorSubSegment {
  min-width: 100%;
}

.firebaseInputField {
  min-width: 20rem;
}