.App {
  height: 100%;
  width: 100%;
  position: absolute;
}

.connectorEditorSegment#connectorEditorSegment {
  background: #f0f0f0;
  min-height: 400px;
}

.providerEditor#providerEditor {
  background: #f0f0f0;
}