* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont,
  "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
  "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  font-size: 12px;
}

html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

input {
  margin: 4px;
}

/* searchable table */

div.searchableTable {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
}

.woz_search_field {
  width: 300px;
}

.woz_table_header {
  padding: 4px;
  margin: 0px;
  border-bottom: 1px solid #dadada;
}

#woz_selector_group {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.woz_selector_dropdown {
  width: 300px;
  margin-right: 8px;
}

.scrollable {
  position: relative;
  height: 100%;
  flex-grow: 1;
}

.scrollable > div {
  overflow-y: scroll;
  position: absolute;
  width: 100%;
  height: 100%;
}

.scrollable table {
  height: auto;
  width: 100%;
}

.searchField input {
  -webkit-appearance: searchfield;
  width: 100%;
  margin: 0;
}

/* overriding bootstrap style */
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
}

/* WoZ */

/* button styles ----- */
/* each button is a span inside a div. The div defines the shape of the button,
	the color, basically the button view area. The span handles placing the text
	inside the div and sizing the text.

	if you change the margin, adapt the change to the hover and active styles
	below as
	 	selectable:hover.margin =
	 	  button.margin-(selectable:hover.border-width - button.border-width)

	if you change the border-width or margin, adapt placeholder margin to
	compensate
		placeholder.margin = button.border-width + button.margin
*/
div.woz_button {
  display: inline-block;
  vertical-align: text-bottom;
  position: relative;
  text-align: center;

  width: 100px;
  height: 50px;
  margin: 3px; /* update placeholder margin */ /* update selectable margin */
  padding: 3px;
  /* padding + border width should stay the same across
      regular and hover states */

  cursor: pointer;

  background: #e8e8e8;
  border: 1px solid #989898; /* update placeholder margin */

  font-size: 14px;
}

/* button border -- */

div.woz_selectable:hover {
  border: 2px solid #000;
  padding: 2px;
}

div.woz_selectable:active {
  border: 3px solid #f00;
  padding: 1px;
}

/* for cases when you want to have button shaped empty area,
 	e.g., search results are uses it to maintain the alignment between searches */
div.woz_placeholder {
  cursor: auto;
  margin: 3px;
  border: none;
  background: none;
}

/* The ghost -- a pseudo element to position the label span in the
	button div at its vertical center,
	nudged to maintain perfect centering */
/* see http://css-tricks.com/centering-in-the-unknown/ */
.woz_button:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

/* this is the label in the button. WoZView will resize the label text
  trying to fit the label inside the div. */
span.woz_button_label {
  display: inline-block;
  vertical-align: middle;
}

/* badges are text labels placed on the sides and corners of the button.
 	8 different badge locations in total. Each badge is specified as two styles,
 	e.g., "badge top-right" */
span.woz_badge {
  display: inline;
  font-size: 9px;
  color: #222;
  width: 90px;
  position: absolute;
}

span.top-right {
  text-align: right;
  right: 1px;

  top: -3px;
  width: 28px;
  background: rgba(230, 230, 230, 0.75);
}

span.bottom-right {
  text-align: right;
  right: 1px;

  bottom: -3px;
  width: auto;
  background: rgba(230, 230, 230, 0.75);
}

span.top-left {
  text-align: left;
  left: 1px;

  bottom: -6px;
}

span.bottom-left {
  text-align: left;
  left: 1px;

  bottom: -6px;
}

span.bottom-center {
  text-align: center;
  left: 10px;

  bottom: -6px;
}

span.top-center {
  text-align: center;
  left: 10px;

  top: -6px;
}

span.middle-right {
  text-align: right;
  right: 1px;

  top: 45px;
}

span.middle-left {
  text-align: left;
  left: 1px;

  top: 45px;
}

/* rows ---- */
/* each row is a div that contains the header div and the content div.
	the header div floats left with a fixed width, the content is shifted
	right by the width of the header plus a margin */
.woz_row_header {
  /*width: 100px; !* update woz_row_content.margin-left *!*/
  vertical-align: top;
  /*padding: 2px;*/
  text-align: right;
  flex: 0 0 100px;
  margin-right: 6px;

  font-size: 12px;
  font-weight: bold;
  color: #000;
}

.woz_row_content {
}

.woz_row {
  display: flex;
  padding-bottom: 4px;
  padding-top: 4px;
}

.odd {
  background-color: #eee;
}

/* screen ---- */

div.woz_screen {

}

div.woz_screen_title {
  width: 100%;
  text-align: center;

  font-size: 14px;
  font-weight: bold;
}

.statusMessage {
  text-align: center;
  width: 500px;
  margin: 32px auto;
  font-size: 24px;
  color: #aaaaaa;
}
